{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>{{config['SITE_NAME']}}</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt ipsum sit amet sem rutrum varius. Sed at elementum nunc, at venenatis sem.</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Lorem ipsum dolor</h2>
        <p>
            FProin malesuada orci nec mi gravida maximus. Suspendisse iaculis efficitur risus at feugiat. Quisque convallis velit enim, nec venenatis ante vestibulum a. Nunc id neque laoreet quam bibendum gravida non vulputate augue. Proin enim urna, vulputate vitae nibh elementum, tincidunt dignissim augue.
        </p>
        <p><a class="btn btn-default" href="#">Link Example &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <<h2>Lorem ipsum dolor</h2>
        <p>
            FProin malesuada orci nec mi gravida maximus. Suspendisse iaculis efficitur risus at feugiat. Quisque convallis velit enim, nec venenatis ante vestibulum a. Nunc id neque laoreet quam bibendum gravida non vulputate augue. Proin enim urna, vulputate vitae nibh elementum, tincidunt dignissim augue. 
        </p>
        <p><a class="btn btn-default" href="#">Link Example &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lorem ipsum dolor</h2>
        <p>
            FProin malesuada orci nec mi gravida maximus. Suspendisse iaculis efficitur risus at feugiat. Quisque convallis velit enim, nec venenatis ante vestibulum a. Nunc id neque laoreet quam bibendum gravida non vulputate augue. Proin enim urna, vulputate vitae nibh elementum, tincidunt dignissim augue. 
        </p>
        <p><a class="btn btn-default" href="#">Link Example &raquo;</a></p>
    </div>
</div>

{% endblock %}
