<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | {{config['SITE_NAME']}}</title>

    <link rel="shortcut icon" href="{{url_for('static', filename='/content/images/favicon.ico')}}" type="image/x-icon">
    <link rel="icon" href="{{url_for('static', filename='content/images/favicon.ico')}}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='content/bootstrap.min.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='content/selectize.bootstrap3.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='content/site.css', v=config['VERSION'])}}" />

    <!--[if lt IE 9]>
      <script src="{{url_for('static', filename='scripts/html5shiv.min.js')}}"></script>
      <script src="{{url_for('static', filename='scripts/respond.min.js')}}"></script>
    <![endif]-->
    <script type=text/javascript>
       var SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{{url_for('home')}}" class="navbar-brand" title="{{config['SITE_NAME']}}"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('verify') }}">Verify</a></li>
                    <li><a href="{{ url_for('pending') }}">Pending Requests</a></li>
                    <li><a href="{{ url_for('in_process') }}">In Process Requests</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        {% block content %}{% endblock %}
        <hr />
        <footer>
            <p>&copy; {{datetime.now().year}} -  {{config['COMPANY_NAME']}}</p>
            
         </footer>
    </div>

    <script src="{{url_for('static', filename='scripts/jquery-1.11.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='scripts/jquery.validate.min.js')}}"></script>
    <script src="{{url_for('static', filename='scripts/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='scripts/selectize.min.js')}}"></script>
    <script src="{{url_for('static', filename='scripts/site.js', v=config['VERSION'])}}"></script>
    {% block scripts %}{% endblock %}

</body>
</html>
