{% extends "layout.html" %}
{% from "_helpers.html" import render_field with context %}

{% block content %}
<script type="text/javascript">
    var refreshPage = false
</script>

<h4 style="display:inline-block">Verify Identity</h4>

<div id="verify">
    {% if verify_request.id %}
    <form method=post action="/verify" role="form">
        <div class="row">

            <div class="col col-md-4">
                <div class="image panel panel-default form-group" id="owner">
                    <div class="image-header panel-heading">
                        <label class="control-label">Owner</label>
                        <div class="checkbox">
                            {{form.owner_photo_invalid(class="checkImageInvalid", tabindex="-1")}}
                            {{form.owner_photo_invalid.label}}
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="image-wrapper ">
                            <img src="data:image/jpg;base64,{{verify_request.owner_photo}}" alt="Owner" />

                        </div>
                    </div>
                </div>

                <div class="panel panel-default form-group" id="voter-search">
                    <div class="image-header panel-heading">
                        <label class="control-label">Search Voters:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                            <input type="text" class="form-control" autocomplete="off" aria-autocomplete="none" id="voter_search" tabindex="1" placeholder="Enter search terms"/>
                        </div>
                    </div>
                    <div class="panel-body" id="search-results">                        
                        <div class="row "><div class="col col-sm-12">&nbsp;</div></div>

                    </div>
                </div>
                {# This is commented out because the registration card is not longer needed
                <div class="image panel panel-default form-group" id="voter-reg">
                    <div class="image-header panel-heading">
                        <label class="control-label">Registration Card</label>
                        <div class="checkbox">
                            {{form.voter_reg_photo_invalid(class="checkImageInvalid", tabindex="-1")}}
                            {{form.voter_reg_photo_invalid.label}}

                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="image-wrapper ">
                            <img src="data:image/jpg;base64,{{verify_request.voter_reg_photo}}" alt="Voter Registration" />

                        </div>
                    </div>
                </div>#}


            </div>

            <div class="col col-md-8">

                <div class="row">

                    <div class="col col-md-6">
                        <div class="image form-group panel panel-default" id="id-front">

                            <div class="image-header panel-heading">
                                <label class="control-label">ID Front</label>
                                <div class="checkbox">
                                    {{form.id_front_photo_invalid(class="checkImageInvalid", tabindex="-1")}}
                                    {{form.id_front_photo_invalid.label}}
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="image-wrapper">
                                    <img src="data:image/jpg;base64,{{verify_request.id_front_photo}}" alt="ID Front" />
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col col-md-6">
                        <div class="image form-group panel panel-default" id="id-back">
                            <div class="image-header panel-heading">
                                <label class="control-label">ID Back</label>
                                <div class="checkbox">
                                    {{form.id_back_photo_invalid(class="checkImageInvalid", tabindex="-1")}}
                                    {{form.id_back_photo_invalid.label}}
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="image-wrapper">
                                    <img src="data:image/jpg;base64,{{verify_request.id_back_photo}}" alt="ID Back" />
                                 </div>
                            </div>
                        </div>

                    </div>




                </div>
                <div id="verify-form">

                    {{ form.id()}}
                    {{ form.result()}}
                    {{ form.state()}}
                    {{ form.ballot_id()}}
                    <div class="panel panel-default">

                        <div class="panel-body">

                            <div class="row">
                                <div class="col col-md-3">{{ render_field(form.first_name, class="form-control input-sm first-name required", maxlength="50", readonly="readonly", tabindex="-1") }}</div>
                                <div class="col col-md-3">{{ render_field(form.middle_name, class="form-control input-sm middle-name", maxlength="50", readonly="readonly" , tabindex="-1") }}</div>
                                <div class="col col-md-3">{{ render_field(form.last_name, class="form-control input-sm last-name required", maxlength="50", readonly="readonly", tabindex="-1") }}</div>
                                <div class="col col-md-1">{{ render_field(form.suffix, class="form-control input-sm suffix", maxlength="50", readonly="readonly", tabindex="-1") }}</div>

                            </div>

                            <div class="row">
                                <div class="col col-md-6">{{ render_field(form.id_number, class="form-control input-sm id-number required", maxlength="50", tabindex="2")}}</div>
                                <div class="col col-md-3">{{ render_field(form.id_expiration_date, class="form-control input-sm dateFormat id-expiration-date required", maxlength="10", tabindex="3") }}</div>
                                <div class="col col-md-3">{{ render_field(form.birth_date, class="form-control input-sm dateFormat date-of-birth required", maxlength="10", readonly="readonly", tabindex="-1") }}</div>
                            </div>

                            <div class="row">
                                <div class="col col-md-6">{{ render_field(form.address_1, class="form-control input-sm address-1 street required", maxlength="150", readonly="readonly", tabindex="-1") }}</div>
                                <div class="col col-md-6">{{ render_field(form.address_2, class="form-control input-sm address-2 street",  maxlength="150", readonly="readonly", tabindex="-1") }}</div>
                            </div>


                            <div class="row">
                                <div class="col col-md-3">{{ render_field(form.city, class="form-control input-sm city required", maxlength="50", readonly="readonly", tabindex="-1") }}</div>
                                <div class="col col-md-3">{{ render_field(form.state_select, class="form-control input-sm state required", disabled="disabled", tabindex="-1") }}</div>
                                <div class="col col-md-3">{{ render_field(form.zip, class="form-control input-sm zip required", maxlength="10", readonly="readonly", tabindex="-1") }}</div>
                                <div class="col col-md-3">{{ render_field(form.ballot_id_select, class="form-control input-sm ballot-id required", disabled="disabled", tabindex="-1") }}</div>
                            </div>

                            <div class="row">
                                <div class="col col-md-12">
                                    {{ render_field(form.rejection_reason, class="form-control input-sm rejection-reason street", tabindex="4") }}
                                </div>


                            </div>


                        </div>

                        <div class="panel-footer">

                            <button type="button" class="btn btn-success btn-lg" id="accept" tabindex="5">
                                Accept
                            </button>&nbsp;
                            <button type="button" class="btn btn-danger btn-lg" id="reject"  tabindex="6">Reject</button>
                            {{message}}
                        </div>

                    </div>




                </div>

            </div>

        </div>
    </form>
    {% else %}
    <div id="no-records" class="alert alert-info">
        There are no identities to be verified at this time.
        <script type="text/javascript">
            refreshPage = true
        </script>
    </div>
    {% endif %}

</div>

    {% endblock %}

    {% block scripts %}

<script src="{{url_for('static', filename='scripts/jquery.zoom.min.js')}}"></script>
<script src="{{url_for('static', filename='scripts/verify.js')}}"></script>

    {% endblock %}
