{% extends "layout.html" %}
{% from "_helpers.html" import filter_text, filter_dropdown with context %}

{% block content %}

<div id="ballot-box" class="page-content">

    <div class="row row-main ">
        <div id="table_contest_filters" class="display-table">
            <div id="contest_filters_padding" class="col col-md-3 display-table-cell"></div>
            <div id="contest_filters" class="col col-md-9 filters display-table-cell">

                <form role="form" id="contest_form" method="post" action="/ballot-box">
                    <input type="hidden" id="contest_id" name="contest_id" value="{{form.contest_id}}" />
                    {% for filter in form.filters %}
                          {% if filter.type == 'dropdown' %}
                                {{filter_dropdown(filter, 'col col-md-2')}}
                          {% else %}
                                {{filter_text(filter, 'col col-md-2')}}
                          {% endif %}
                        {% endfor %}
                       
                        <div class="col col-md-2 filter search form-group">
                            <label for="precinct">Search:</label>
                            <input type="text" class="form-control" id="search" name="search" value="{{form.search}}" placeholder="Voter ID, Contest, Contestant ..." />
                        </div>

                    <div class="col col-md-2 filter submit form-group">

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <div id="table_main" class="display-table">
            <div class="col col-md-3 contests display-table-cell">
                <div id="contests_inner">
                    {% for group in form.contest_groups%}
                        <div class="contest_group">
                            <div class="contest_group_heading">
                                {{group.group}}
                            </div>

                        {% for contest in group.contests %}
                
                          <div class="contest {{'selected' if contest.id == form.contest.id else ''}}" id="{{contest.id}}">
                              <div class="name">{{contest.name}}</div>
                              {%if contest.description %}
                                <div class="description">{{contest.description}}</div>
                              {% endif %}
                          </div>

                        {% endfor %}
                        </div>
                    {% endfor %}
                </div>

            </div>
            <div class="col col-md-9 data display-table-cell">

                <div class="row contest-heading">
                    <div class="col col-md-12">
                        {% if form.contest %}
                        <h2>{{form.contest.name}}</h2>
                        {%if form.contest.description %}
                                <div class="description">{{form.contest.description}}</div>
                        {% endif %}

                        {% else %}
                        <h2>No Contest Selected</h2>
                        {% endif %}
                    </div>
                </div>
                {% if form.contest %}
                <div class="row" id="charts">
                    <div class="col col-sm-6 chart-area" id="chart-plot-area">

                        <div id="chart"></div>

                    </div>
                    <div class="col col-sm-6 chart-area" id="chart-summary">
                        {% if form.contest.decision_type == form.contest.DECISION_TYPE_VOTE_YES_NO and 
                              form.contest.contestants and
                              form.contest.contestants[0].description 
                        %}
                            <div class="question">
                                <h4>Description</h4>
                                {{form.contest.contestants[0].description}}
                            </div>

                        {% endif %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="candidate">&nbsp;</th>
                                    {#<th class="approval data">Approval Vote</th>
                                    #}
                                    <th class="official percentage data selected">Official Vote</th>
                                    <th class="official total data selected">Official Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for o in form.all_opinion_summary %}
                                <tr>
                                    <td class="candidate">{{o['name']}}</td>
                                    {#<td class="approval data">{{o['y']}}%</td>
                                    #}
                                    <td class="official percentage data selected">{{filter_opinion_summary(form.official_opinion_summary, o['name'])['y']}}%</td>
                                    <td class="official total data selected">{{filter_opinion_summary(form.official_opinion_summary, o['name'])['total']}}</td>
                                </tr>
                                {% endfor %}

                            </tbody>
                            {#
                            <tfoot>
                                <tr>
                                    <td class="candidate">&nbsp;</td>
                                    <td class="approval">
                                        <button id="btn-approval" class="btn btn-default">Select</button></td>
                                    <td class="official selected">
                                        <button id="btn-official" class="btn btn-default">Select</button></td>
                                </tr>
                            </tfoot>
                            #}

                        </table>
                    </div>
                </div>


                <div class="row filters" id="data-heading">
                    <div class="col col-md-8">
                        <h3>Results</h3>
                    </div>
                    <div class="col col-md-2 filter search form-group">
                        <label for="precinct">Search:</label>
                        <input type="text" class="form-control" id="search_results" name="search_results" value="{{form.search_results}}" placeholder="Voter ID, Contestant ..." />
                    </div>

                    <div class="col col-md-2 filter submit form-group">

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>

                <div class="row" id="data">
                    <div class="col col-md-12">
                        <div class="table-responsive">
                            <table class="table table-condensed table-hover" id="results">
                                <thead>
                                    <tr>
                                        <th class="candidate">Candidate</th>
                                        <th class="voter-id">Voter ID</th>
                                        <th class="decision-id">Decision ID</th>
                                        <th class="timestamp">Date Submitted</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for o in form.all_opinions %}
                                    <tr>
                                        <td class="candidate">{{o.get_contestant()}}</td>

                                        <td class="voter-id">{{o.decision.voter_id}}</td>
                                        <td class="decision-id">{{o.decision.decision_id}}</td>
                                        <td class="timestamp">{{o.decision.timestamp}}</td>

                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% endif %}

            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">

    var summaryAllOpinions = {{form.all_opinion_summary|tojson}}
    var summaryOfficialOpinions = {{form.official_opinion_summary|tojson}};

</script>
<script src="{{url_for('static', filename='scripts/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static', filename='scripts/dataTables.bootstrap.js')}}"></script>
<script src="{{url_for('static', filename='scripts/highcharts/highcharts.js')}}"></script>
<script src="{{url_for('static', filename='scripts/highcharts/modules/exporting.js')}}"></script>
<script src="{{url_for('static', filename='scripts/ballot-box.js', v=config['VERSION'])}}"></script>

{% endblock %}
