body
{
    padding-top: 48px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content
{
    padding-left: 15px;
    padding-right: 15px;
}

.row
{
    margin-left: -6px;
    margin-right: -6px;
}

.col
{
    padding-left: 6px;
    padding-right: 6px;
}

.form-group
{
    margin-bottom: 10px;
}

.panel-body, .panel-heading, .panel-footer
{
    padding: 6px;
}

.panel-default.has-error, .has-error .panel-heading,
.has-error .panel-body, .has-error .panel-footer
{
    border-color: #a94442;
}

.has-error .panel-heading
{
    background-color: #f2dede;
}


.selectize-input
{
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 12px;
    height: 30px;
    min-height: 30px;
    line-height: 1.5;
    
}

.selectize-input input
{
    font-size: 12px;
    line-height: 1.5 !important;
    height:19px;
}

.selectize-input.dropdown-active
{
    border-radius: 3px 3px 0 0;
}



.selectize-control .selectize-input.disabled {
    background-color: #eee;
    cursor: not-allowed !important;
    opacity: 1;
    color:#555;
}



.navbar-inverse
{
    background-color: #252530;
    border-color: #080808;
}

.navbar-brand
{
    background-image: url('../content/images/logo-small.png');
    width: 210px;
    height:41px;
    background-repeat: no-repeat;
}

input.date, input.zip
{
    max-width: 115px;
}




/* styles for validation helpers */
.field-validation-error
{
    color: #b94a48;
}

.field-validation-valid
{
    display: none;
}

input.input-validation-error
{
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error
{
    border: 0 none;
}

.validation-summary-errors
{
    color: #b94a48;
}

.validation-summary-valid
{
    display: none;
}




#verify-form label
{
    margin: 0;
}

#verify-form .alert
{
    display: inline-block;
    margin-left: 10px;
    width: 486px;
}


.image-wrapper
{
    display: inline-block;
    max-width: 100%;
}

.image
{
    margin-bottom: 20px;
}

.image-header .checkbox
{
    float: right;
    margin: 0px;
}

.image-header .checkbox label
{
    padding: 0;
}


.image img
{
    cursor: crosshair;
    max-width: 100%;
    max-height: 225px;
}


.voter, .more-results
{
    padding-top:6px;
    padding-bottom:6px;
    border-bottom:solid 1px #ddd;
    cursor:pointer;

}
.voter.selected
{
    background-color:#f5f5f5;
}
.voter:hover
{
    background-color:#eee;
}
.voter:last-child, .more-results:last-child
{
    margin-bottom:0px;
    border-bottom:0;
}

.voter .voter-name
{
    font-weight:bold;
}
.voter label
{
    font-weight:bold;
    margin:0;
}
#search-results
{
    padding-top:0;
    padding-bottom:0;
}

#search-results .no-results
{
    padding-top:15px;
    padding-bottom:15px;
}

table .action
{
    text-align:right;
}