body
{
    padding-top: 65px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content
{
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-inverse
{
    background-color: #000;
    border-color: #080808;
}

.navbar-brand
{
    background-image: url('../content/images/logo-small.png');
    width: 210px;
    background-repeat: no-repeat;
}

